# Node modules
node_modules
**/node_modules

# Build output
dist
build
coverage
**/dist
**/build
**/coverage

# Environment files
.env
.env.local
.env.*.local

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Other
*.log
*.tmp

# Apps
apps/docs/.svelte-kit
apps/docs/public/build
**/out

# Ignore VitePress cache
apps/docs/.vitepress/cache/
apps/docs/.vitepress/dist/
**/.vitepress/cache/
**/.vitepress/dist/
