@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--primary-shadow-color: rgba(90, 41, 228, 0.6);
}

@layer utilities {
	.interactive-shadow {
		@apply shadow-[0px_10px_50px_rgba(0,0,0,0.1)] transition-shadow duration-300 ease-in-out hover:shadow-[0px_15px_60px_rgba(0,0,0,0.15)];
	}
}

html,
body {
	height: 100%;
	margin: 0;
}
